.top {
    font-family: 'Corinthia', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
nav:hover {
  text-transform: uppercase;
cursor: pointer;
color: rgb(240, 222, 240);
                 }
                 li:hover {
                  text-transform: uppercase;
                cursor: pointer;
                color: rgb(145, 11, 145);
                                 }
                 .Eva {
                   color: #E02401;
                   font-style:initial;
                 }
                 .back {
                  background-image: url(https://cdn.glitch.me/c80d7c29-c7bf-499a-905c-a0ae17a1c104/zala.jpg?v=1640032291957);
                  width: 100%;
                 
                 }
                 .anonce {
                                      font-style:unset;
                   
                 }
      .Eva1 {
                border: 1px #ecb4d5 solid;
      border-radius: 50%;
      }
      .note {
        border: solid 2px whitesmoke
      }
     
      
      .note:hover {background-color: #384259;
      color: white;
      font-size: inherit;
      cursor: help;
      }
      #miVideo {
        width: 100%;
            flex: 1;
    }
   
    .card:hover {
      border: 3px rgb(240, 222, 240) solid;
    }